<!-- <html>

<head>
    <title>ESPN Sports API | WebSpeaks.in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body> -->
    <div class="main">
        <h2>NFL News</h2>
        <hr />
        <div class="news">
            <div style="text-align:center" id="result"></div>
            <div>
                <ul id="list"></ul>
            </div>
        </div>
        <hr />
        <div class="button"><a class="button white bigrounded" id="load_more">Load More</a></div>
    </div>
    <div class="team">
        <h2>Cleveland Browns</h2>
        <hr />
        <div class="news">
            <div style="text-align:center" id="result1"></div>
            <div>
                <ul id="list1"></ul>
            </div>
        </div>
        <hr />
        <div class="button"><a class="button white bigrounded" id="load_more1">Load More</a></div>
    </div>
<!-- </body>
</html> -->