<div class="container">
  <h1>Blog-Nation</h1>
  <p>Hello, world!</p>
    <% if session[:id] %>
      <%= erb :_profile, layout: false %>
    <% else %>
      <%= erb :_login, layout: false %>
    <% end %>


</div>
