<div class="container">
  <h1>Blog-Nation</h1>

    <% if session[:id] %>
      <p> Hello, <%= @user.name %></p>
      <%= erb :_profile, layout: false %>
    <% else %>
      <%= erb :_login, layout: false %>
    <% end %>


</div>
