<div class="container">
  <h1>Dawg Nation</h1>

    <% if session[:id] %>
      <p> Hello, <%= @user.name %></p>

      <%= erb :'/partials/_profile', layout: false %>
    <% else %>
      <%= erb :'/partials/_login', layout: false %>
    <% end %>


</div>
