<div>
  <table>
    <th>Post title</th>
    <% @posts.each do |post| %>
    <tr class="post-title">
      <td><a href="/posts/<%= post.id %>"><%= post.title %></a></td>
      <td><a href="/posts/edit/<%= post.id %>">Edit post</a></td>
      <td><a href="/posts/delete/<%= post.id %>">Delete Post</a></td>
    </tr>
    <% end %>
  </table>
</div>
